@font-face {
    font-family: SwanseaRegular;
    src: url('swansea/Swansea-q3pd.ttf')
}

body, html {
    background-color: DarkSlateGray;
    color: lightgray;
    font-family: SwanseaRegular;
    line-height: 1.6;
    padding: 0;
    margin: 0;
}

#root {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
}

#main {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#results-container, #sidebar {
    flex-grow: 1;
}

#results-container {
    width: 70%;
}

#buttons {
    width: 100%;
    display: block;
}

#controls {
    width: 100%;
    height: 10%;
    display: inline;
    position: absolute;
    margin: 0;
    background-color: grey;
    bottom: 0;
}

/* Center all children of controls vertically */
.control-wrapper > * {
    height: 100%;
    display: inline-block;
}

.inline_button {
    display: inline;
}

#uploader {
    display: inline;
}

#image-display {
    height: 100%;
    display: inline;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
}

#app-contents {
    padding: 5px;
    display: block;
}

#image-container {
    position: relative;
    background-color: black;
    width: 100%;
    height: 90%;
}

#rotation-slider {
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    display: inline-block;
    width:50%;
    right: 0;
    /* we have to use !important because slider specifies padding inline */
    padding: 0 !important;
}

#image-controls-container {
    width:75%;
    height:50%;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
}

#rotation-display {
    display: inline-block;
    position: relative;
    text-align: center;
}

.control-wrapper {
    display: inline-block;
    top: 50%;
    position: relative;
    transform: translate(0,-50%);
    user-select: none;
}

#sidebar {
    font-size: small;
    background-color: #4b7071;
    padding: 20px;
    width: 30%;
}
